@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-bg text-white font-sans antialiased;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #root {
    height: 100vh;
    width: 100vw;
  }
}